*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.container{
    height: 50vh;
    width: 80%;
    background-color: blanchedalmond;
    /* margin: 4rem; */
    display: flex;
    flex-direction: column;
}
img{
    border-radius: 50%;
}
.image{
    flex: 1;
    /* background-color: aqua; */
    /* width: 10%; */
    /* height: 10%; */
    /* object-fit: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.name
{
    /* background-color: blueviolet; */
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row1{
    /* border: 2px solid red; */
    flex: 1;
    display: flex;
    background-color: coral;
    
}
.row2{
    /* border: 2px solid red; */
    flex: 2;
    display: flex;
    background-color: aqua;
}
.row3{
    flex:1;
    display: flex;
    align-items: center;
    background-color:blue;
}

.box{
    flex: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: gray;
    color: white;
    border-radius: 8px;
    
}
.box h4{
    font-size: 30px;
}
.innerBox{
   padding: 4rem;
}
input{
    height: 3rem;
    width: 100vh;
    margin-left: 2rem;
    border-radius: 2rem;
}